<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Travel</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="css/linearicons.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/jquery-ui.css">				
        <link rel="stylesheet" href="css/nice-select.css">							
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">				
        <link rel="stylesheet" href="css/main_admin.css">
    </head>
    <body>	
        <header id="header">
            <div class="header-top">
                <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                          <ul>
                          </ul>			
                      </div>
                      <div class="col-lg-6 col-sm-6 col-6 header-top-right">
                        <ul>
                            <li>
                                <a style="color: red; font-size: large;" title="Click to logout from this account" href="/admin-logout"> Logout</a>
                            </li>
                        </ul>
                      </div>
                  </div>			  					
                </div>
            </div>
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo">
                    <!--a href="index.html"><img src="img/logo.png" alt="" title="" /></a-->
                    <h3 style="color: white;">Airline Reservation System | Admin Panel</h2>
                  </div>
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                    </ul>
                  </nav><!-- #nav-menu-container -->					      		  
                </div>
            </div>
        </header><!-- #header -->
        
 <!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg">
    </div>				
    <div class="container" style="margin-top: -40px;">
        <div class="row fullscreen align-items-admin ">
            <div class="nav_bar">
                <link href="admin.css" rel="stylesheet">
                <ul class="nav-menu">
                    <li style="margin-left: -15px;">
                        <a href="/admin-viewpassenger" style="font-size: 12px;">Passengers</a>
                    </li>
                    <li>
                        <a href="/admin-flight">Flights</a>
                    </li>
                    <li>
                        <a href="/admin-airplane">AirPlanes</a>
                    </li>
                    <li>
                        <a href="/admin-aircraft">AirCrafts</a>
                    </li>
                    <li>
                        <a href="/admin-airport">Airports</a>
                    </li>
                    <li>
                        <a href="/admin-flightSchedule" style="padding-bottom: 0px;">Flight<br>Schedule</a>
                    </li>
                    <li>
                        <a href="/admin-flightDelay" id="onlink" style="padding-bottom: 0px;">Flight<br>Delay</a>
                    </li>
                    <li>
                        <a href="/admin-location">Locations</a>
                    </li>
                    <li>
                        <a href="/admin-price">Prices</a>
                    </li>
                    <li>
                        <a href="/admin-seat">Seats</a>
                    </li>
                    <li>
                        <a href="/admin-viewbookings">Bookings</a>
                    </li>
                    <li>
                        <a href="/admin-report">Reports</a>
                    </li>
                </ul>
            </div>
            <div class="main_container" action="" method="post" enctype="multipart/form-data">
                <div style="float: right;" class="page-wrapper">
                    <nav class="primary-btn">
                        <a style="color: white;" href="/add-flightDelay" title="Add a Flight Delay">+ Add a FlightDelay</a>
                    </nav>
                </div>
                <% if (flightDelay.length > 0) {%>
                <TABLE class="table"> 
                    <THEAD>
                    <TR>
                        <TH>Flight Delay ID</TH>
                        <TH>Flight Schedule ID</TH>
                        <TH>Delayed Time</TH>
                        <TH>Reason</TH>
                        <th>Edit / Delete</th>  
                    </TR>
                    </THEAD>
                    <TBODY>
                        <% flightDelay.forEach((flightDelay, index) => { %>
                            <tr>
                                <td scope="row"><%= flightDelay.delay_ID %></td>
                                <td><%= flightDelay.flight_schedule_ID %></td>
                                <td><%= flightDelay.delayed_time %></td>
                                <td><%= flightDelay.reason %></td>
                                <td>
                                    <a href="/edit-flightDelay/<%- flightDelay.delay_ID %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                    <a href="/delete-flightDelay/<%- flightDelay.delay_ID %>" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </TBODY>
                </TABLE>
                <% } else { %>
                    <p class="text-center" style="color: black;">No flight Delays found. Go <a href="/add-flightDelay" >here</a> to add flight Delays.</p>
                <% } %>
            </div>
        </div>
    </div>					
</section>
</body>
<!-- End banner Area -->			
        <!-- start footer Area -->		
        <footer class="footer-area section-gap">
            <link rel="stylesheet" href="css/main_admin.css">
        </footer>
        <!-- End footer Area -->	
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>			
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
         <script src="js/jquery-ui.js"></script>					
          <script src="js/easing.min.js"></script>			
        <script src="js/hoverIntent.js"></script>
        <script src="js/superfish.min.js"></script>	
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>						
        <script src="js/jquery.nice-select.min.js"></script>					
        <script src="js/owl.carousel.min.js"></script>							
        <script src="js/mail-script.js"></script>	
        <script src="js/main.js"></script>	
</html>